<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>eWarisanSeni</display-name>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/password</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffLoginServlet</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.StaffLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLoginServlet</servlet-name>
    <url-pattern>/stafflogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAccount</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccount</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAddress</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.UpdateAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddress</servlet-name>
    <url-pattern>/updateAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAddress</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.AddAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddress</servlet-name>
    <url-pattern>/insertAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAddress</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.DeleteAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAddress</servlet-name>
    <url-pattern>/deleteAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/addproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/deleteproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageProduct</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.viewProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageProduct</servlet-name>
    <url-pattern>/viewproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/editproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCustomerAccount</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.UpdateCustomerAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerAccount</servlet-name>
    <url-pattern>/updateCustomerAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOrder</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrder</servlet-name>
    <url-pattern>/updateorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgottenPassword</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.ForgottenPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgottenPassword</servlet-name>
    <url-pattern>/forgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFromCart</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.DeleteFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFromCart</servlet-name>
    <url-pattern>/deleteFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateOrder</servlet-name>
    <servlet-class>com.eWarisanSeni.app.servlet.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrder</servlet-name>
    <url-pattern>/createOrder</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>100</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>